/* UNIVERSAL */

.container {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  padding: 0 10%;
  color: #44564B;
}

.section {
  margin: 45px 0;
  text-align: center;
}

.title {
  margin-bottom: 3vh;
}

.textCenter {
  display: block;
  margin: 0 auto !important;
  text-align: center;
  align-items: center;
}

/* OLD NAVBAR */

.navText {
  font-size: 15px;
  font-weight: 500;
  color: #E5E4CC;
  display: inline-block;
  position: relative;
}

.navText:hover {
  color: #44564B;
}

/* NEW NAVBAR */

.navText {
  /* font-size: 22px; */
  color: #E5E4CC;
}

/* LOADING */

.load {
  width: 10rem; height: 10rem; color: #44564B; display: block; padding-top: 35vh; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%;
}

/* FOOTER */

.divider {
  margin: 1vw 34vw !important;
  margin-bottom: 25px !important;
  border-top: 2px solid #0A0A0A !important;
}

.footer {
  width: 100vw;
  position: absolute;
  z-index: 1;
  padding: 2rem 12vw;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footertitle {
  color: black;
  font-family: 'Choplin Medium';
  font-size: 1.1rem;
  letter-spacing: 0.09rem;
}

.footercontent {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.footercontentRedirect {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05rem;
}

@media screen and (min-width: 769px) {
  .footercontent {
      font-size: 1rem;
  }
  .footercontentRedirect {
      font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footercontent {
      font-size: 0.7rem;
  }
  .footercontentRedirect {
      font-size: 0.7rem;
  }
}

.footercontent:hover {
  cursor: default;
  color: black;
}
.footercontentRedirect:hover {
  color: black;
  text-decoration: underline;
}

/* BANNER */

.swiper {
  object-fit: cover;
  margin-bottom: 36px;
  width: 100%;
  height: 100vh;
}

.swipe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(75%)
}

.bannerText {
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  /* border: 3px solid white;
  backdrop-filter: blur(15px); */
}

.bannerShow {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerTitle {
  font-size: 60px;
  color: #E5E4CC;
  text-shadow: #000000;
}

.bannerButton {
  background-color: #698474;
  border: none;
  color: #E5E4CC;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.bannerButton:hover {
  color: #E5E4CC;
}

/* DESCRIPTION */

.desc {
  margin: 1vw 0;
  text-align: center;
}

.description {
  padding: 36px 20%;
  margin: 4rem 0;
  line-height: 1.5;
}

/* FEATURED */

.sectionFeatured {
  margin: 45px 0;
  text-align: center;
}

.featured {
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: #44564B;
}

.featured:hover {
  color: #698474;
}

.featuredPict {
  display: inline;
  width: 20.6vw;
  height: 18vw;
}

/* DISCORD */

.sectionDiscord {
  margin: 45px 0;
  padding: 45px 0;
  background-color: #BAC7A7;
  text-align: center;
}

.discord {
  color: #44564B;
}

.discordButton {
  background-color: #698474;
  border: none;
  color: #E5E4CC;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.discordButton:hover {
  color: #E5E4CC;
}

/* RESPONSIVE */

@media (min-width: 2200px) {
  
}

@media (min-width: 1500px) {
  
}

@media (max-width: 1400px) {
  
}

@media (max-width: 1280px) {
  .bannerTitle {
    font-size: 45px;
  }
}

@media (max-width: 991px) {
  .bannerTitle {
    font-size: 35px;
  }
}

@media (max-width: 950px) {
  
}

@media (max-width: 767px) {
  .sectionFeatured {
    margin: 45px 12vw;
    text-align: center;
  }

  .featuredPict {
    width: 30.6vw;
    height: 28vw;
  }

  .bannerTitle {
    font-size: 26px;
  }

  .bannerButton {
    padding: 6px 22px;
  }
}

@media (max-width: 510px) {
  
}

@media (max-width: 473px) {
  .footertitle {
      font-size: 1rem;
  }
  .footer {
      padding: 2rem 10vw;
  }
}

@media (max-width: 430px) {

}

/* DEFAULT */

/* .container {
  padding: 0 2rem;
} */

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
} */

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

/* .title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
} */

/* .description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
} */

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
